{% extends 'layout.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block style %}

{% endblock %}
{% block body %}
 <div class="container">
        <div class="page-header">
            <div class="col-md-6 col-md-offset-3">
            <h3>로그인</h3>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <form action="/sign_in" method="POST">
                {{ sign_in_form.csrf_token }}
               <div class="form-group">
                    {{ sign_in_form.inputEmail.label('e-mail') }}
                    {{ sign_in_form.inputEmail(type="email", class="form-control email_error", placeholder="이메일을 입력하세요.") }}
                </div>
               <div class="form-group">
                    {{ sign_in_form.inputPassword.label('비밀번호') }}
                    {{ sign_in_form.inputPassword(type="password", class="form-control password_error", placeholder="비밀번호를 입력하세요.") }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">로그인</button>
                </div>
            </form>
        </div>
    </div>
{% with msg_all = get_flashed_messages(with_categories = true) %}
        {% if msg_all %}
            {% for category, msg in msg_all %}
                <script>
                    alert('{{msg}}')
                    $("."+'{{category}}').css("border", "1px solid red")
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
{% block script %}
{% endblock %}